<div class="contenedor">
  <div class="hijo">
    <mat-card class="example-card">
      <mat-card-title>PROCESO PORTAL COMPRAS</mat-card-title>
      <mat-card-subtitle class="subtitle">Filtrar por fechas</mat-card-subtitle>
      <mat-card-content class="content">
        <form class="date-block" [formGroup]="filterForm">
          <div class="date-block__list">
            <mat-form-field>
              <input  class="fecha1" [(ngModel)]="startDate" matInput 
                [matDatepicker]="fromDate" 
                placeholder="Fecha inicial" 
                formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker class="fecha1" #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
            <div class="date-block__list">
            <mat-form-field>
              <input [(ngModel)]="finalDate" matInput 
                [matDatepicker]="toDate" 
                placeholder="Fecha final" 
                formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
           
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="filter-button" mat-raised-button [disabled]="!filterForm.valid" color="primary"  (click)="vaciarListas()"
        [routerLink]="['/graficos/filtrados', startDate| date: 'yyyy-MM-dd',finalDate| date: 'yyyy-MM-dd']">Obtener resultados</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-divider></mat-divider>
<br>
<mat-card class="cardbar">
  <mat-card-title class="grafico">Gráfico de Barras</mat-card-title>
  <div style="text-align:center" class="bar">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>
</mat-card>
<br>
<div class="contenedor">
  <mat-card class="cardchart">
    <mat-card-title class="grafico">Porcentaje de Procesos</mat-card-title>
    <div id="chart" class="chart">
      <apx-chart
        [series]="chartOptionsCircle.series"
        [chart]="chartOptionsCircle.chart"
        [labels]="chartOptionsCircle.labels"
        [responsive]="chartOptionsCircle.responsive"
        
      ></apx-chart>
    </div>
  </mat-card>
  <mat-divider [vertical]="true" class="vertical"></mat-divider>
  <mat-card class="cardRadar">
    <mat-card-title class="grafico">Radar de Procesos</mat-card-title>
    <div id="chart">
      <apx-chart
        [series]="chartOptionsRadar.series"
        [chart]="chartOptionsRadar.chart"
        [xaxis]="chartOptionsRadar.xaxis"
       
      ></apx-chart>
    </div>
  </mat-card>
  
</div>



 